<html ng-app="PatientModule">
<head>

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Patient</title>
    <!-- <link rel="stylesheet" href="style.css" tyoe="text/css "> -->
</head>

<body ng-app="PatientModule">
<h1 class="title">Patient deatials</h1>



<div class="container" ng-controller="patient">

    <table class="table">
        <thead>
        <tr>
            <th>HIN</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Civil Status</th>
            <th>NIC</th>
            <th>Phone</th>
            <th>Address</th>

        </tr>
        </thead>
        <tbody>
        <td><input class="form-control" ng-model="patient.HIN" ng-keyup="searchByHin(patient.HIN)"></td>
        <td><input class="form-control" ng-model="patient.name"></td>
        <td><input class="form-control" ng-model="patient.DOB"></td>
        <td><input class="form-control" ng-model="patient.gender"></td>
        <td><input class="form-control" ng-model="patient.civilStatus"></td>
        <td><input class="form-control" ng-model="patient.NIC"></td>
        <td><input class="form-control" ng-model="patient.phone"></td>
        <td><input class="form-control" ng-model="patient.address"></td>
        <td><button class="btn btn-primary" ng-click="addpatient()">ADD PATIENT</button></td>
        <td><button class="btn btn-info" ng-click="updatepatient(patient._id)">UPDATE</button></td>



        <tr ng-repeat = "patient in patientlist">
            <td>{{patient.HIN}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.DOB}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.civilStatus}}</td>
            <td>{{patient.NIC}}</td>
            <td>{{patient.phone}}</td>
            <td>{{patient.address}}</td>

            <td><button class="btn btn-danger" ng-click="removePatient(patient._id)">REMOVE</button></td>
            <td><button class="btn btn-warning" ng-click="edit(patient._id)">EDIT</button></td>
            <td><a href="patientOverview.html"><button class="btn btn-info" ng-click="overview(patient._id)">OVERVIEW</button></a></td>

        </tr>
        </tbody>
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>

<script src="./Controller/PatientController.js"></script>
</body>
</html>
